.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: #4A3B68;
  color: #FFF;
}

#load {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {transform: rotate(0deg)};
  100% {transform: rotate(360deg)};
}